<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity"
      layout:decorator="admin/layout">
<body>
<div layout:fragment="content" class="ui page padded grid">

    <div class="sixteen wide column">
        <div class="ui secondary pointing menu">
            <a class="item" href="/admin">
                <i class="cloud icon"></i> Dashboard
            </a>

            <div class="ui dropdown item" sec:authorize="hasRole('ROLE_CONTENT') || hasRole('ROLE_ADMIN')">
                <i class="dropdown icon"></i>
                <i class="database icon"></i> Content
                <div class="menu">
                    <a class="item"><i class="file text outline icon"></i> Pages</a>
                    <a class="item" sec:authorize="hasRole('ROLE_MANAGER') || hasRole('ROLE_ADMIN')">
                        <i class="announcement icon"></i> Announcement</a>
                </div>
            </div>
            <div class="ui dropdown active item" sec:authorize="hasRole('ROLE_ADMIN')">
                <i class="dropdown icon"></i>
                <i class="user icon"></i> Administration
                <div class="menu">
                    <a class="item"> <i class="user icon"></i> Users</a>
                    <a class="item"> <i class="users icon"></i> Groups</a>
                    <a class="item"> <i class="share icon"></i> Redirects</a>

                </div>
            </div>
            <a class="item" href="/admin/analytics" sec:authorize="hasRole('ROLE_ANALYTICS') || hasRole('ROLE_ADMIN')">
                <i class="wifi icon"></i> Analytics
            </a>

            <div class="right menu">
                <div class="item">
                    <div class="ui icon input">
                        <input placeholder="Search..." type="text"/>
                        <i class="search link icon"></i>
                    </div>
                </div>
                <div class="ui dropdown item">
                    <i class="dropdown icon"></i>
                    <i class="user icon"></i>
                    Welcome <span sec:authentication="name">user</span>

                    <div class="menu">
                        <a class="item"><i class="user icon"></i> Profile</a>

                        <div class="divider"></div>
                        <a class="item logout"><i class="power icon"></i> Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="sixteen wide column">
        <h2 class="ui header">
            <i class="blue wifi icon"/>

            <div class="content">Analytics

                <div sec:authentication="name" class="sub header">
                    The value of the "name" property of the authentication object should appear here.
                </div>
            </div>
        </h2>
        <div class="row">

        </div>
    </div>

    <form id="logout" action="/admin/logout" method="post" class="ui icon input form">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    </form>
</div>
<script layout:fragment="script" type="text/javascript">
    $('.item.logout').on('click', function(){ $('#logout').submit(); });
    $('.dropdown').dropdown({ transition: 'drop' });
</script>
</body>
</html>