<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org/thymeleaf/layout"
      layout:decorator="admin/layout">
<body>
<div layout:fragment="content" class="ui page padded grid">

    <div class="sixteen wide column">
        <div class="ui secondary pointing menu">
            <a class="active item" href="/admin">
                <i class="cloud icon"></i> Dashboard
            </a>
            <a class="item" href="/admin">
                <i class="mail icon"></i> Messages
            </a>
            <a class="item" href="/admin">
                <i class="user icon"></i> Friends
            </a>

            <div class="right menu">
                <div class="item">
                    <div class="ui icon input">
                        <input placeholder="Search..." type="text"/>
                        <i class="search link icon"></i>
                    </div>
                </div>
                <a href="#" onclick="document.forms['logout'].submit(); return false;" class="ui item">Logout</a>

                <div class="ui simple dropdown item">
                    <i class="dropdown icon"></i>
                    Language
                    <div class="menu">
                        <a class="item"><i class="edit icon"></i>English</a>
                        <a class="item">Russian</a>
                        <a class="item">Spanish</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="sixteen wide column">
        <h2 class="ui header segment">
            <i class="cloud icon"/>

            <div class="content">Account Settings
                <div class="sub header">Manage your account settings and set e-mail preferences.</div>
            </div>
        </h2>
        <div class="row">

        </div>
    </div>

    <form name="logout" action="/admin/logout" method="post" class="ui icon input form">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    </form>
</div>
<script layout:fragment="script">
    $('.ui.dropdown').dropdown({ on: 'hover' });


</script>
</body>
</html>