<div class="ui grid">
    <div class="three column wide row">
        <div class="column">
            <div class="ui statistics">
                <div class="statistic">
                    <div class="value">
                        22
                    </div>
                    <div class="label">
                        Cities Named After Dogs
                    </div>
                </div>
                <div class="statistic">
                    <div class="text value">
                        Two Million
                    </div>
                    <div class="label">
                        Homeless Dogs in USA
                    </div>
                </div>
                <div class="statistic">
                    <div class="value">
                        <i class="plane icon"></i> 5
                    </div>
                    <div class="label">
                        Flights Piloted By Dogs
                    </div>
                </div>
                <div class="statistic">
                    <div class="value">
                        <img src="http://blog.tompawlak.org/client/img/panda-icon-48.81b56b1b.png"/>
                        11
                    </div>
                    <div class="label">
                        Puppies Made This Page
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui statistics">
                <div class="statistic">
                    <div class="value">
                        22
                    </div>
                    <div class="label">
                        Cities Named After Dogs
                    </div>
                </div>
                <div class="statistic">
                    <div class="text value">
                        Two Million
                    </div>
                    <div class="label">
                        Homeless Dogs in USA
                    </div>
                </div>
                <div class="statistic">
                    <div class="value">
                        <i class="plane icon"></i> 5
                    </div>
                    <div class="label">
                        Flights Piloted By Dogs
                    </div>
                </div>
                <div class="statistic">
                    <div class="value">
                        <img src="http://blog.tompawlak.org/client/img/panda-icon-48.81b56b1b.png"/>
                        11
                    </div>
                    <div class="label">
                        Puppies Made This Page
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui statistics">
                <div class="statistic">
                    <div class="value">
                        22
                    </div>
                    <div class="label">
                        Cities Named After Dogs
                    </div>
                </div>
                <div class="statistic">
                    <div class="text value">
                        Two Million
                    </div>
                    <div class="label">
                        Homeless Dogs in USA
                    </div>
                </div>
                <div class="statistic">
                    <div class="value">
                        <i class="plane icon"></i> 5
                    </div>
                    <div class="label">
                        Flights Piloted By Dogs
                    </div>
                </div>
                <div class="statistic">
                    <div class="value">
                        <img src="http://blog.tompawlak.org/client/img/panda-icon-48.81b56b1b.png"/>
                        11
                    </div>
                    <div class="label">
                        Puppies Made This Page
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>