<div class="ui grid">
    <div class="four wide column">
        <div class="ui vertical menu">
            <div class="header item">
                <i class="user icon"></i>
                Communities
            </div>
            <div class="item">
                College
                <div class="menu">
                    <a class="item">Baseball</a>
                    <a class="item">Basketball</a>
                    <a class="item">Golf</a>
                </div>
            </div>
            <a class="item">
                Dance
            </a>
            <a class="item">
                Aerobics
            </a>

            <div class="header item">
                <i class="globe icon"></i>
                Cities
            </div>
            <a class="item">
                New York
            </a>
            <a class="item">
                Montreal
            </a>
            <a class="item">
                Los Angeles
            </a>
            <a class="item">
                San Francisco
            </a>

            <div class="header item">
                <i class="icon calendar"></i>
                Months
            </div>
            <a class="item">
                August
            </a>
            <a class="item">
                June
            </a>
        </div>

    </div>
    <div class="twelve wide column">
        <table class="ui table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Registration Date</th>
                <th>E-mail address</th>
                <th>Premium Plan</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>John Lilki</td>
                <td>September 14, 2013</td>
                <td>jhlilk22@yahoo.com</td>
                <td>No</td>
            </tr>
            <tr>
                <td>Jamie Harington</td>
                <td>January 11, 2014</td>
                <td>jamieharingonton@yahoo.com</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>Jill Lewis</td>
                <td>May 11, 2014</td>
                <td>jilsewris22@yahoo.com</td>
                <td>Yes</td>
            </tr>
            </tbody>
        </table>
        <div class="ui pagination menu">
            <a class="icon item">
                <i class="left arrow icon"></i>
            </a>
            <a class="active item">
                1
            </a>

            <div class="disabled item">
                ...
            </div>
            <a class="item">
                10
            </a>
            <a class="item">
                11
            </a>
            <a class="item">
                12
            </a>
            <a class="icon item">
                <i class="right arrow icon"></i>
            </a>
        </div>
    </div>
</div>

